* {
    filter: gray;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
 
    /*
        -moz代表firefox浏览器私有属性
        -ms代表ie浏览器私有属性
        -webkit代表safari、chrome私有属性。*/
}